In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Viedma,-40.8135,-62.9967,60.84,30,81,12.57,AR,2022-04-30 20:20:27
1,1,Qaanaaq,77.4840,-69.3632,14.74,76,80,2.57,GL,2022-04-30 20:32:03
2,2,Adrar,20.5022,-10.0711,83.26,10,0,7.67,MR,2022-04-30 20:24:39
3,3,Atuona,-9.8000,-139.0333,78.80,76,9,12.57,PF,2022-04-30 20:32:04
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.06,83,75,9.22,BR,2022-04-30 20:28:19

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Adrar,20.5022,-10.0711,83.26,10,0,7.67,MR,2022-04-30 20:24:39
3,3,Atuona,-9.8000,-139.0333,78.80,76,9,12.57,PF,2022-04-30 20:32:04
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.06,83,75,9.22,BR,2022-04-30 20:28:19
8,8,Kapaa,22.0752,-159.3190,78.78,77,75,19.57,US,2022-04-30 20:22:11
10,10,Itarema,-2.9248,-39.9167,80.33,86,11,8.21,BR,2022-04-30 20:25:46
14,14,Le Port,-20.9373,55.2919,77.00,70,37,6.69,RE,2022-04-30 20:32:07
17,17,Rikitea,-23.1203,-134.9692,76.03,75,52,10.67,PF,2022-04-30 20:32:08
21,21,Vaini,-21.2000,-175.2000,77.16,94,100,9.22,TO,2022-04-30 20:32:09
23,23,Kununurra,-15.7667,128.7333,80.58,89,40,5.75,AU,2022-04-30 20:32:10
29,29,Kishi,9.0833,3.8500,81.05,59,68,6.53,NG,2022-04-30 20:32:12

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID       177
City          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
Country       177
Date          177
dtype: int64

In [8]:
preferred_cities_df.count()

City_ID       177
City          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
Country       177
Date          177
dtype: int64

In [9]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Adrar,20.5022,-10.0711,83.26,10,0,7.67,MR,2022-04-30 20:24:39
3,3,Atuona,-9.8000,-139.0333,78.80,76,9,12.57,PF,2022-04-30 20:32:04
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.06,83,75,9.22,BR,2022-04-30 20:28:19
8,8,Kapaa,22.0752,-159.3190,78.78,77,75,19.57,US,2022-04-30 20:22:11
10,10,Itarema,-2.9248,-39.9167,80.33,86,11,8.21,BR,2022-04-30 20:25:46
...,...,...,...,...,...,...,...,...,...,...
530,530,Pajan,-1.5667,-80.4167,83.12,69,98,1.74,EC,2022-04-30 20:46:29
532,532,Tucupita,9.0622,-62.0510,86.23,57,100,6.60,VE,2022-04-30 20:46:30
535,535,Carauari,-4.8828,-66.8958,80.94,92,76,1.39,BR,2022-04-30 20:46:31
537,537,Urucara,-2.5364,-57.7600,79.77,91,64,2.80,BR,2022-04-30 20:46:32
540,540,Kavieng,-2.5744,150.7967,82.02,73,100,2.93,PG,2022-04-30 20:46:33

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df.copy()
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Adrar,20.5022,-10.0711,83.26,10,0,7.67,MR,2022-04-30 20:24:39
3,3,Atuona,-9.8000,-139.0333,78.80,76,9,12.57,PF,2022-04-30 20:32:04
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.06,83,75,9.22,BR,2022-04-30 20:28:19
8,8,Kapaa,22.0752,-159.3190,78.78,77,75,19.57,US,2022-04-30 20:22:11
10,10,Itarema,-2.9248,-39.9167,80.33,86,11,8.21,BR,2022-04-30 20:25:46
...,...,...,...,...,...,...,...,...,...,...
530,530,Pajan,-1.5667,-80.4167,83.12,69,98,1.74,EC,2022-04-30 20:46:29
532,532,Tucupita,9.0622,-62.0510,86.23,57,100,6.60,VE,2022-04-30 20:46:30
535,535,Carauari,-4.8828,-66.8958,80.94,92,76,1.39,BR,2022-04-30 20:46:31
537,537,Urucara,-2.5364,-57.7600,79.77,91,64,2.80,BR,2022-04-30 20:46:32
540,540,Kavieng,-2.5744,150.7967,82.02,73,100,2.93,PG,2022-04-30 20:46:33

In [12]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
2,2,Adrar,20.5022,-10.0711,83.26,10,0,7.67,MR,2022-04-30 20:24:39,
3,3,Atuona,-9.8000,-139.0333,78.80,76,9,12.57,PF,2022-04-30 20:32:04,
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.06,83,75,9.22,BR,2022-04-30 20:28:19,
8,8,Kapaa,22.0752,-159.3190,78.78,77,75,19.57,US,2022-04-30 20:22:11,
10,10,Itarema,-2.9248,-39.9167,80.33,86,11,8.21,BR,2022-04-30 20:25:46,
14,14,Le Port,-20.9373,55.2919,77.00,70,37,6.69,RE,2022-04-30 20:32:07,
17,17,Rikitea,-23.1203,-134.9692,76.03,75,52,10.67,PF,2022-04-30 20:32:08,
21,21,Vaini,-21.2000,-175.2000,77.16,94,100,9.22,TO,2022-04-30 20:32:09,
23,23,Kununurra,-15.7667,128.7333,80.58,89,40,5.75,AU,2022-04-30 20:32:10,
29,29,Kishi,9.0833,3.8500,81.05,59,68,6.53,NG,2022-04-30 20:32:12,

In [15]:
len(hotel_df)

177

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
2,2,Adrar,20.5022,-10.0711,83.26,10,0,7.67,MR,2022-04-30 20:24:39,
3,3,Atuona,-9.8000,-139.0333,78.80,76,9,12.57,PF,2022-04-30 20:32:04,Villa Enata
4,4,Arraial Do Cabo,-22.9661,-42.0278,75.06,83,75,9.22,BR,2022-04-30 20:28:19,Pousada Porto Praia
8,8,Kapaa,22.0752,-159.3190,78.78,77,75,19.57,US,2022-04-30 20:22:11,Sheraton Kauai Coconut Beach Resort
10,10,Itarema,-2.9248,-39.9167,80.33,86,11,8.21,BR,2022-04-30 20:25:46,"Sea Lounge! Bar, Club & Restaurant"

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"


# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))